# /demo1/serviceKey.json

# Environment variable files
.env

/demo1/node_modules

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp

# Compiled output
dist/
build/

# Firebase configuration
/demo1/helper/firebaseApp.js

